<footer class="fixed-bottom d-flex p-2 align-self-center">
  <div class="row align-self-center">
    <div class="col-6 border-r">
      <div class="row">
        <div class="col-2 align-self-center">
          <i class="bi bi-cart-check-fill"></i>
        </div>
        <div class="col-10 align-self-center text-center">
          <label>Carrinho (9)</label>
          <label>R$ 9,00</label>
        </div>
      </div>
    </div>
    <div class="col-6 align-self-center text-center">
      <label>Total da lista (9)</label>
      <label>R$ 9,00</label>
    </div>
  </div>
</footer>
