<div class="d-flex justify-content-center">
  <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
    aria-expanded="false">
    <label class="nome-lista text-center p-3">Nome da lista</label>
  </button>
  <ul class="dropdown-menu dropdown-center ">
    <li><a class="dropdown-item">Minha lista 1</a></li>
    <li><a class="dropdown-item">Minha lista 2</a></li>
    <li><a class="dropdown-item">Minha lista 3</a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="#">Lista do dia a dia</a></li>
  </ul>
</div>
