<app-navbar></app-navbar>
<main>
  <app-btn-nome-lista></app-btn-nome-lista>
  <app-card-produto></app-card-produto>
  <app-card-produto></app-card-produto>
  <app-card-produto></app-card-produto>
  <app-card-produto></app-card-produto>
  <app-card-produto></app-card-produto>
  <app-card-produto></app-card-produto>
  <app-card-produto></app-card-produto>
  <app-card-produto></app-card-produto>
  <app-card-produto></app-card-produto>
  <app-card-produto></app-card-produto>
</main>
<app-footer></app-footer>
