/* You can add global styles to this file, and also import other style files */
.body{
  background-color: #d8c7bf;
}

h1, h2, h3, h4, h5{
  color: #8c7069;
}

main{
  margin-top: 50px;
  margin-bottom: 70px;
}

