/* You can add global styles to this file, and also import other style files */
.body{
  background-color: #d8c7bf;
}

h1, h2, h3, h4, h5{
  color: #8c7069;
}

main{
  margin-top: 50px;
  margin-bottom: 150px;
}

.sombra{
  box-shadow: 0 3px 8px 0 rgba(165, 20, 20, 0.2), 0 6px 20px 0 rgba(7, 54, 141, 0.19);
}

input, button, select, textarea{
  border-radius: 10px;
}

.text-marrom{
  color: #8c7069;
}

.fs-14-bolder{
  font-size: 14pt;
  font-weight: bolder;
}

.fs-14{
  font-size: 14pt;
}

.fs-12-bolder{
  font-size: 12pt;
  font-weight: bolder;
}

.fs-10{
 font-size: 10pt;
}






